.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 50px;
    margin-top: 5vh;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container{
    background: #FF99004D;
    border-radius: 8px;
    height: 100vh;
}
.order-title{
    text-align: center;
    color: #1C2B35;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-bottom: dotted;
}
.order-container{
    margin-left: 17px;
}