.order-title{
    text-align: center;
    color: #1C2B35;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-bottom: dotted;
}
.order-container{
    margin-left: 17px;
}